@font-face {
  font-family: "Ploni ML v2 AAA D-Bold";
  font-style: normal;
  font-format: woff;
  font-weight: 600;
  src: url("/fonts/ploni-demibold-aaa.woff") ;
}
@font-face {
  font-family: "Ploni ML v2 AAA Medium";
  font-style: normal;
  font-format: woff2;
  font-weight: 500;
  src: url("/fonts/ploni-medium-aaa.woff2") ;
}
@font-face {
  font-family: "Ploni ML v2 AAA Light";
  font-style: normal;
  font-format: woff2;
  font-weight: 300;
  src: url("/fonts/ploni-ml-v2-aaa-light.woff2") ;
}
@font-face {
  font-family: "Ploni ML v2 AAA Bold";
  font-style: normal;
  font-format: woff2;
  font-weight: 700;
  src: url("/fonts/ploni-bold-aaa.woff2") ;
}
@font-face {
  font-family: "Ploni ML v2 AAA";
  font-style: normal;
  font-format: woff2;
  font-weight: 400;
  src: url("/fonts/ploni-regular-aaa.woff2") ;
}
:root {
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-carasso-red: rgba(255, 82, 61, 1);
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-carasso-blue: rgba(56, 94, 157, 1);
  --dl-size-size-maxwidth: 1400px;
  --dl-color-carasso-green: rgba(0, 177, 64, 1);
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-radius-radius-radius20: 20px;
  --dl-space-space-threeunits: 48px;
  --dl-color-carasso-lightblue: rgba(231, 235, 243, 1);
  --dl-color-carasso-darkergray: rgba(115, 119, 123, 1);
  --dl-color-carasso-plainwhite: rgba(255, 255, 255, 1);
  --dl-color-carasso-umamicolor: rgba(199, 154, 121, 1);
  --dl-color-carasso-tagselected: rgba(62, 84, 103, 1);
  --dl-color-carasso-primaryblack: rgba(42, 42, 42, 1);
  --dl-color-carasso-graytextcolor: rgba(187, 188, 191, 1);
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-carasso-tagnotselected: rgba(237, 239, 241, 1);
  --dl-color-carasso-backgroundcolor: rgba(246, 246, 246, 1);
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.button:hover {
  cursor: pointer;
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: translateX(0%) !important;
}
.projectcard {
  gap: 10px;
  width: 407px;
  cursor: w-resize;
  height: 520px;
  display: flex;
  padding: 36px;
  position: relative;
  direction: ltr;
  align-self: stretch;
  background: linear-gradient(0deg, rgba(28, 28, 28, 0.60) 0%, rgba(28, 28, 28, 0.60) 100%),linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%),url(https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/bd438ef8-05f7-4c29-9c01-eea7ae17edea/9fcf239a-5523-451d-9e18-6a9734911cc2?org_if_sml=1&q=80&w=500),lightgray 50% / contain no-repeat; background-blend-mode: luminosity,soft-light,normal;
  flex-shrink: 0;
  border-radius: 20px;
  background-blend-mode: luminosity, soft-light, normal;
}
.projectinfo {
  gap: 16px;
  top: -70px;
  left: 0px;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}
.project-img-small {
  top: 36px;
  left: -72px;
  width: 303px;
  height: 303px;
  position: absolute;
  border-radius: 100%;
}
.mask {
  top: 0;
  left: 72px;
  cursor: pointer;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.project-inner {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

.draggable {
  width: auto;
  display: flex;
  direction: rtl;
  flex-grow: 1;
  align-self: stretch;
  overflow-x: clip;
  overflow-y: hidden;
  user-select: none;
  flex-direction: row;
  pointer-events: all;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
}
.responsive_frame {
  width: 100%;
  height: auto;
}
.Content {
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}





